@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-600: hsl(246, 80%, 60%);

    --orange-300-work: hsl(15, 100%, 70%);
    --blue-300-play: hsl(195, 74%, 62%);
    --pink-400-study: hsl(348, 100%, 68%);
    --green-400-exercise: hsl(145, 58%, 55%);
    --purple-700-social: hsl(264, 64%, 52%);
    --yellow-300-selfcare: hsl(43, 84%, 65%);

    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    --white: hsl(50, 10%, 100%);

    --font-size: clamp(16px, 1.8vw, 18px);
    --font-family: "Rubik", sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 500;
}

body{
    background-color: var(--navy-950);
    color: var(--white);
    font-size: var(--font-size);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 70vw;
    height: auto;
    padding: 3em 0;
    display: grid;
    justify-items: center;
    gap: 1em;
}

.container article{
    background-color: var(--navy-900);
    width: 100%;
    border-radius: 1em;
}

.container .profile figure{
    background-color: var(--purple-600);
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
}

.container .profile figcaption{
    display: flex;
    flex-direction: column;
}

.container .profile img{
    border: 2px solid var(--white);
    border-radius: 50%;
}

.container .filters{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.container .filters button{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--navy-200);
    cursor: pointer;
}

.container .filters button:active, .container .filters button:hover{
    color: var(--white);
}

.container article:nth-child(2){
    background-color: var(--orange-300-work);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(2)::after{
    content: url('images/icon-work.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article:nth-child(3) {
    background-color: var(--blue-300-play);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(3)::after {
    content: url('images/icon-play.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article:nth-child(4) {
    background-color: var(--pink-400-study);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(4)::after {
    content: url('images/icon-study.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article:nth-child(5) {
    background-color: var(--green-400-exercise);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(5)::after {
    content: url('images/icon-exercise.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article:nth-child(6) {
    background-color: var(--purple-700-social);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(6)::after {
    content: url('images/icon-social.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article:nth-child(7) {
    background-color: var(--yellow-300-selfcare);
    padding-top: 1em;
    position: relative;
    z-index: -10;
}

.container article:nth-child(7)::after {
    content: url('images/icon-self-care.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.container article .card{
    background-color: var(--navy-900);
    border-radius: 1em;
    padding: 1em;
    margin-top: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.container article .card:hover{
    background-color: var(--purple-500);
}

.container .card .top img:hover{
    cursor: pointer;
}

.container .card .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .card .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .card .bottom h1{
    font-weight: var(--font-bold);
}

.container .card .bottom p{
    font-size: small;
    color: var(--navy-200);
}

/* ----------------------------------------
        Responsive for Tablet
---------------------------------------- */
@media screen and (min-width: 48em) {
    body{
        height: 100vh;
    }
    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .container article.profile {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 3;
    }

    .container .profile figure {
        flex-direction: column;
        align-items: flex-start;
    }
    .container .profile figcaption{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .container .profile figcaption strong {
        display: flex;
        flex-direction: column;
        font-size: 3vw;
    }

    .container .filters{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2em;
        gap: 1em;
    }

    .container article:nth-child(5) {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    .container article:nth-child(6){
        grid-template-rows: 2;
        grid-column-start: 2;
    }

    .container .card {
        padding: 2em;
    }

    .container .card .bottom {
        margin-top: 1em;
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
    }
}


/* ----------------------------------------
        Responsive for Desktop
---------------------------------------- */
@media screen and (min-width: 75em) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }
    .container .profile figcaption {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .container .profile figcaption strong {
        display: flex;
        flex-direction: column;
        font-size: 1.8vw;
    }
    .container .filters{
        margin-top: 0;
    }
     .container article:nth-child(1) {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }
    .container article:nth-child(5) {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .container article:nth-child(6) {
        grid-template-rows: 2;
        grid-column-start: 3;
    }

    .container .card{
        padding: 2em;
    }

    .container .card .bottom{
        margin-top: 1em;
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
    }

    .container .card .bottom h1{
        font-size: calc(2vw+1em);
    }
    
}