@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-600: hsl(246, 80%, 60%);

    --orange-300-work: hsl(15, 100%, 70%);
    --blue-300-play: hsl(195, 74%, 62%);
    --pink-400-study: hsl(348, 100%, 68%);
    --green-400-exercise: hsl(145, 58%, 55%);
    --purple-700-social: hsl(264, 64%, 52%);
    --yellow-300-selfcare: hsl(43, 84%, 65%);

    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    --white: hsl(50, 10%, 100%);

    --font-size: clamp(16px, 1.8vw, 18px);
    --font-family: "Rubik", sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 500;
}

body{
    background-color: var(--navy-950);
    color: var(--white);
    font-size: var(--font-size);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 70vw;
    height: auto;
    /* height: 100vh; */
    padding: 3em 0;
    display: grid;
    justify-items: center;
    gap: 1em;
}

.container article{
    background-color: var(--navy-900);
    width: 100%;
    /* width: 13em; */
    border-radius: 1em;
}

.container .profile figure{
    background-color: var(--purple-600);
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 1em;
}

.container .profile figcaption{
    display: flex;
    flex-direction: column;
}

.container .profile img{
    border: 2px solid var(--white);
    border-radius: 50%;
}

.container .filters{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.container .filters button{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--navy-200);
    cursor: pointer;
}

.container .filters button:active, .container .filters button:hover{
    color: var(--white);
}